#系统冗余
.DS_Store
Thumbs.db
*.swp

#IDE/编辑器配置
.vscode/
.idea/

#敏感信息
.env
.env.*
config/local/

#日志/临时文件
logs/
*.log
tmp/

#Go核心忽略
*.exe
*.dll
*.so
*.dylib
vendor/
build/
dist/
coverage.out
__pycache__/

#过滤敏感配置文件
*.env
.env.local
